# Ambiente virtual
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Arquivo do banco de dados (não queremos subir o banco, só o código)
*.db

# Arquivos de sistema (macOS e Windows)
.DS_Store
Thumbs.db